/* ////////////////////////// -----------------------------HEADER ---------------------- //////////////////////////////*/
.header_container{
    padding: 2rem;
    background-color: var(--lightBlue);
}
.header_container .site_header{
    display: flex;
    justify-content: space-between;
}
.site_header .logo {
    /* width: 30%; */
    width: 25rem;
}
.site_header nav.navigation_menu ul {
    display: flex;
}
.site_header nav.navigation_menu ul li{
    margin: 0 1.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--white);
    cursor: pointer;
}

/* TITULO E IMAGEN */
.header_content{
    display: flex;
    justify-content: space-between;
    padding: 6rem 0;
    color: var(--white)
}
.header_content .header_img{
    width: 100rem;
}

/* ////////////////////////// -----------------------------MISSION SECTION ---------------------- //////////////////////////////*/


.mision{
    padding: 5rem 0;
}


.mision p{
    padding: 1rem 0;
    font-weight: bold;
}

/* ////////////////////////// ----------------------------- FORMULARIO ---------------------- //////////////////////////////*/

.empresa {
    background-color: #89CFF0;
    max-width: 100%;
}

.formulario {
    background-color: #012FFF;
    color: #fff;
    text-align: left;
}



.slider {
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    width: 25%;
    height: auto;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
}

#factura {
    display: inline;
    margin: auto;
}

#pirotecnia {
    display: flow;
}

/* ////////////////////////// ----------------------------- FOOTER ---------------------- //////////////////////////////*/

footer{
    color: #fff;
    background-color: var(--black);
    padding: 7rem 0;
}

footer .container{
    display: flex;
    justify-content: space-between;
}

footer .footer_image {
    width: 25rem;
    display: flex;
    align-items: center;
}
footer .social_media div{
    display: flex;
    justify-content: end;
}
footer .social_media a{
    font-size: 3rem;
    margin: 0 1rem;
    
}